@model IEnumerable<Botica.AppWeb.Models.ProductoVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Productos</h1>

<p>
    <a asp-action="Create">Agregar Nuevo Producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductosID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precioventa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.ProductosID)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.NombreProduto)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Precioventa)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.StockActual)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ProductosID }, new {@class = "btn btn-primary btn-sm"}) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ProductosID }, new { @class = "btn btn-danger btn-sm" })
        </tr>
}
    </tbody>
</table>
